{% extends "base.html" %}
{% block content %}

<div class="card">
    <h2>🌲 Current Semester Classes - {{current_semester}}:</h2>
    <p>Your In-Progress Courses:</p>

    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Description</th>
                <th>Pre-Req</th>
                <th>Num Credits</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classesProgress %}
            <tr>
                <td>{{ class.Course }}</td>
                <td>{{ class.Description }}</td>
                <td>{{ class.Pre_Req}}</td>
                <td>{{ class.Credits}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card">
    <h2>🌲 Optimal Semester Path</h2>
    <p>AI-generated recommended semester plan:</p>

    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Description</th>
                <th>Pre-Req</th>
                <th>Num Credits</th>
                <th>Semester</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes %}
            <tr>
                <td>{{ class.Course }}</td>
                <td>{{ class.description }}</td>
                <td>{{ class.pre_req }}</td>
                <td>{{ class.credits }}</td>
                <td>{{ class.semester }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
