{% extends "base.html" %}
{% block content %}

<div class="card">
    <h2>🌿 Update Your Personal Information</h2>

    <form method="POST">
        <label>Name: {{student.name}}</label>
        <input type="text" name="name" placeholder="Name">

        <label>Major: {{student.major}}</label>
        <input type="text" name="major" placeholder="Major">

        <label>Expected Graduation Date: {{student.expected_graduation}}</label>
        <input type="month" name="graduation" placeholder="Expected Graduation Date">

        <button type="submit">Save</button>
    </form>
</div>

{% endblock %}
